# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
coverage

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.output.txt

# no env files of any stripe in the repo
.env*
.env.*
# EXCEPT this one so repo readers can see test envars
!.env.test
# EXCEPT this one so repo readers can see an example
!.env.example

